body{
  background-color: #fee9c0;
  margin: 1rem;
}

h1 {
  color: #643a47;
}

form
{
  padding: 1em;
  margin: 1rem;
  border: 1px solid #ecdfe4;
  border-radius:12px;
  background-color: #ecdfe4;
  display: grid;
}

p{
  color: #302927
}

fieldset, label{
  margin:10px 0px;
}
