/* Hoja de Estilos */

html{
    line-height: 1.5em;
    font-family: Calibri;
    margin-left: auto;
    margin-right: auto;
    padding:10px 0px;
    margin: 10px;
}

body{
    background-color: #93998c;
    color: #23232d;
}

footer{
    display:flex;
    width: 100%;
    height: 80px;
    background-color: black;
    margin-block-start: 3em;
    text-align: center;
}

/* H Encabezados */
h1{
    text-align: center;
    font-size: 2.5em;
    font-family: Verdana;
    color: #ffb641;
}

h2{
    font-size: 1,2em;
    font-family: Verdana;
    color: #dcd8d6; 
    margin: 20px 0px 20px 0px;
    
}

h3{
    font-size: 1.1em;
    font-family: Calibri;
    margin: 10px 0px 5px 0px;
}

/* Imagen */
.imgGroup {
    border-radius: 16px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 7px 3px #00000012, 0 -3px 7px 3px #00000012;
    display: flex;
}

b{ 
    font-weight:bold;
    color: #141414f5;
}

strong{
    font-weight:bold;

}

/* Tabla */
table{
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    width:100%;
    border: 1px solid #5d6158;
}

th{
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 0px;
    background-color: #3b4231;
    color:#dcd8d6;
}

td{
    padding: 13px 3px;
    font-size: 15px;
    text-align: center;
    white-space: normal;
    color: #dcd8d6;
}

tr:nth-child(even){
    background-color: #c8bbbb45;
}

tr:hover td{
    background-color: #868181;
    color: #23232d;
}

tr{
    border-bottom: 1px solid #5d6158;
}

form{
    padding:0px 10px 5px 10px;
}

input[type=number],input[type=text],input[type=date] , select{
    width:100% ;
    padding:10px;
    border:1px solid #5d6158d3;
    color: #dcd8d6;
    background-color: #7c8176;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=number]:focus, input[type=text]:focus, input[type=date]:focus, select:focus{
    outline:none;
    border: 1px solid #93998c;
}


input[type=text]::placeholder {
    color: #dcd8d6; 
    opacity: 1; 
}

  
.pDescription{
    z-index: 1;
    min-width: 400px;
    margin: 20px 0px;
    padding: 25px 35px;
    background-color:#dcd8d6;
    text-align:justify;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 4px 0 7px 0 #00000012, -4px 0 7px 0#00000012;
}


.formContainer{
    display:block;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    margin: 20px 0px;
    margin-top: -20px;
    padding:10px 25px;
    background-color:#7c8176;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 8px 0 #00000012, 0 6px 20px 0 #00000012;
}

.button-center{
    text-align: center;
}

#submit{
    margin:5px 0;
    padding:3px 1em;
    font-weight: bold;
    border-radius:13px;
    border: 2px solid blue;
    background-color: blue;
    color:white;
}

#submit:hover{
    border: 2px solid #3c3cbb;
    background-color: #3c3cbb;
    color:white;
}

/* Zona de pagos */

.payContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.payContainer label {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.imgPagos
{
    width: 50px;
    height: auto;
}

#agreeTerms{
    display:block;
    text-align: center;
}