/* Hoja de Estilos */

body{
    /* min-width: 440px; */
    background-color: #93998c;
    color: #23232d;
    padding:19px;
    max-width: 600px;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
}

/* H */
h1{
    display:block;
    text-align: center;
    font-size: 2.5em;
    font-family: sans;
    color: #ffb641;
}

/* Imagen */
.imgGroup {
    box-shadow: 0 3px 7px 3px #00000012, 0 -3px 7px 3px #00000012;
    display: flex;
    border-radius: 16px 16px 0px 0px;
    width:100%;
}



b{ 
    font-weight:bold;
    color: #141414f5;
}

strong{
    font-weight:bold;

}

fieldset{
    display:block;
    margin-top: 10px;
    border: 3px solid #23232d;
    border-radius: 12px;
    overflow: hidden;

}

legend{
    font-size: 1em;
    font-weight: bold;
    color:#23232d;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 15px;
    padding: 0 14px;
}


/* Tabla */
table{
    border-collapse: collapse;
    width:100%;
    table-layout: auto;
}

th{
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 0px;
    background-color: #7c8176;
    color:#23232d;
}

td{
    padding: 8px 0px;
    font-size: 14px;
    text-align: center;
    white-space: wrap;
}

tr:nth-child(even){
    background-color: #c8bbbb45;
}

tr:hover{
    background-color: #868181a7;
}
tr{border-bottom: 1px solid #5d6158;}

.table_scroll{
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
    max-width: 100%;
}

/* block */
.block{
    /* padding-bottom: 10px; */
    /* border:1px solid #c6c1bdcd; */
    border-radius:12px;
}

.pDescription{
    position: relative;
    z-index: 1;
    margin:0px;
    background-color:#dcd8d6;
    padding: 25px 35px;
    text-align:justify;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 0 7px 0 #00000012, -4px 0 7px 0#00000012;

}

.formContainer{
    margin-top: -15px;
    padding:35px;
    background-color:#7c8176;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 8px 0 #00000012, 0 6px 20px 0 #00000012;
}


.button-center{
    text-align: center;
}

#submit{
    margin:5px 0;
    padding:3px 1em;
    font-weight: bold;
    border-radius:13px;
    border: 2px solid blue;
    background-color: blue;
    color:white;
}

#submit:hover{
    border: 2px solid #3c3cbb;
    background-color: #3c3cbb;
    color:white;
}