
/* MIS CSS */

:root {
  --bg-color: #2E3440;
  --text-color: #a7a8aa;
  --card-bg: #3B4252;
}

img{
  min-height: 500px;
  max-height: 500px;
  object-fit: cover; 
  border-radius: 0px 12px 12px 0px;
}

#divName{
  color: rgb(43, 98, 227);
  display: inline;
}

.time {
  display:block;
	color:#FFFFFF;
	font-family: monospace;
	font-size:15px;
  left: 35px;
  bottom: 52px;
}

.main_container{
  margin:8%;
  border: 2px solid rgb(115, 115, 115);
  border-radius:12px;
}

/* Create three equal columns that floats next to each other */
#mainlinks {
  display: flex;
  flex-wrap: wrap; /* Para que las columnas se acomoden bien */
  padding: 0px;
  
}

.column{
  padding:10px;
}

/* bookmakrs */
.link-item {
  display: flex;
  flex-wrap: wrap; 
  text-decoration: none;
  color: var(--text-color);
  font-weight: 100;
  margin-bottom: 5px;
}

.link-item:hover {
  color: #ffe2e2;
}


.down_bar {
  opacity: 0;
  pointer-events: none; /* Evita que sea interactuable cuando está oculto */
  transition: opacity 0.3s ease-in-out;
}

/* Hacer hover sobre el contenedor en lugar del span */
.down_bar_container:hover .down_bar {
  opacity: 1;
  pointer-events: auto;
}

/* Ajustar tamaño del contenedor para que el hover sea más fácil */
.down_bar_container {
  min-height: 50px; /* Ajusta según necesites */
}



@media (max-width: 500px) {
  .main_container{
    margin:0px;
  }

  img{
    max-height:200px;
  }
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
}